<div class="page" ng-controller="ControllerMain">

	<div class="options">

		<ul>

			<li>
				<h1><b>UniWare BETA</b></h1>
			</li>
			<li>&nbsp;</li>
			<li ng-show="InGame"><a ng-click="BackToGame()">Back to Hacking</a></li>
			<li ng-show="InGame">&nbsp;</li>
			<li><a ng-href="#/servers/">Find a Server :)</a></li>
			<li>&nbsp;</li>
			<li><a onclick="lua.OpenUniWareMenu();">
				UniWare Settings
			</a></li>
			<li><a ng-click="MenuOption( this, 'OpenOptionsDialog')" ng-Tranny="'options'"></a></li>
			<li>&nbsp;</li>
			<li ng-show="InGame">
				<a ng-click="MenuOption( this, 'Disconnect');" ng-Tranny="'disconnect'"></a>
			</li>
			<li><a ng-click="MenuOption( this, 'Quit')" ng-Tranny="'quit'"></a></li>

		</ul>

	</div>

	<div class="news" ng-hide="NewsList.length == 0">
		<div class="news_item" style="{{NewsItemBackground( CurrentNewsItem.HeaderImage )}}" ng-hide="HideNews">
			<div>
				<span ng-click="OpenInSteam( CurrentNewsItem.Url )">{{CurrentNewsItem.Title}}</span>
				<font>{{CurrentNewsItem.SummaryHtml}}</font>
			</div>
		</div>
		<div class='news_buttons'>
			<div ng-click="ToggleNewsList()" ng-hide="HideNews || AnyNewNewsItems"><img
					src="../materials/icon16/cross.png"></div>
			<div class="{{IfElse( NewsItem.Url == CurrentNewsItem.Url, 'selected', '' )}} {{NewsItemClass( NewsItem )}}"
				ng-repeat="NewsItem in NewsList | orderBy: 'Date'" ng-click="SelectItem(NewsItem)"></div>
		</div>
	</div>

</div>